{deps,
 [
  {getopt, "0.8.2"},
  {folsom, "0.8.8"},
  {pvc, {git, "https://github.com/ergl/pvc.git", {tag, "v0.21.0"}}},
  {pvc_proto, {git, "https://github.com/ergl/pvc_proto.git", {tag, "v0.22.0"}}}
 ]}.

{erl_opts, [{src_dirs, [src]}]}.

{escript_incl_apps, [getopt,folsom,pvc,pvc_proto,pvc_types]}.

{escript_emu_args, "%%! -name bench@127.0.0.1 +K true -rsh ssh -noshell -noinput +P 1222333 +Q 1222333 +zdbbl 32768 -setcookie grb_cookie\n"}.
