{mode,max}.
{duration,5}.
{concurrent,10}.
{report_interval,5}.

{driver,lasp_bench_driver_antidotepb}.

%% Use this one V to stress write-write conflicts
{key_generator,{pareto_int,1000000}}.

%% Use this one V perfectly partition keys among clients
%%{key_generator,{partitioned_sequential_int,1000000}}.

{value_generator,{fixed_bin,10}}.

{operations,[
    {read_only,4},
    {read_write,1}
]}.

{antidote_ips,['127.0.0.1']}.
{antidote_ports,[8087]}.

%% Number of reads for readonly txs
{read_only_num, 2}.

%% Number of {reads, writes} for read-write tx
{read_write_num, {1,1}}.

%% True -> Group all reads in a single call
%% False -> Send each read-request in a separate call
{batch_reads, true}.

%% True -> Group all reads in a single call
%% False -> Send each read-request in a separate call
{batch_writes,true}.
