{mode,max}.
{duration,5}.
{concurrent,50}.
{report_interval,5}.

%% Pre/post hooks
{pre_hook, {hook_pvc, start}}.
{post_hook, {hook_pvc, stop}}.
%% Size of the connection pool, and node
%% to choose as the bootstrap node for ring info
{pre_hook_args, [[{conn_pool_size,10},
                  {bootstrap_node, 'pvc-s1-n1'},
%%                  {bootstrap_node_ip, '127.0.0.1'},
                  {bootstrap_port, 7878},
                  {connection_port, 7878}]]}.

%% Uniform distribution of 100 thousand keys
{key_generator, {uniform_int, 100000}}.

%% Random binaries of 1 KB each
{value_generator, {fixed_bin, 1024}}.

{driver,blotter_bench}.

%% Can do ping | readonly | writeonly | readwrite
{operations,[
    {ping, 1}
]}.

%% The number of keys read in the readonly op
{read_keys, 1}.

%% Should we track read stamps?
{track_read_stamps, false}.

%% The number of keys read in the writeonly op
{written_keys, 1}.

%% Key ratio for the readwrite op
%% The first number is the number of keys to read
%% The second the number of keys to update
{ratio, {1, 1}}.

%% Number of tries an aborted operation is retried
%% Applies to writeonly and readwrite operations
{abort_retries, 1}.
