{mode,max}.
{duration,5}.
{concurrent,50}.
{report_interval,5}.

%% Uniform distribution of 100 thousand keys
{key_generator, {uniform_int, 100000}}.

%% Random binaries of 1 KB each
{value_generator, {fixed_bin, 1024}}.

{driver,blotter_bench}.

%% Can do ping | readonly | writeonly | readwrite
{operations,[
    {readonly,1}
]}.

%% The number of keys read in the readonly op
{read_keys, 1}.

%% The number of keys read in the writeonly op
{written_keys, 1}.

%% Key ratio for the readwrite op
%% The first number is the number of keys to read
%% The second the number of keys to update
{ratio, {1, 1}}.

%% Number of tries an aborted operation is retried
%% Applies to writeonly and readwrite operations
{abort_retries, 50}.

{rubis_ip,'127.0.0.1'}.
{rubis_port,7878}.
