{mode,max}.
{duration,5}.
{concurrent,50}.
{report_interval,5}.

%% Random binaries of 1 KB each
{value_generator, {fixed_bin, 1024}}.

{driver,ranch_test_bench}.

{operations,[{ping, 1}]}.


%% Should be a tuple list of {IP :: atom(), Port :: non_neg_integer()}
{dst_proplist, [{'127.0.0.1', 7878}]}.
