{mode,max}.
{duration,5}.
{concurrent,50}.
{report_interval,5}.

%% Random binaries of 1 KB each
{value_generator, {fixed_bin, 1024}}.

%% Should point to a valid installation of pipesock
{code_paths, ["<PATH>/pipesock/_build/default/lib/pipesock/ebin"]}.
{pre_hook, {hook_pipesock, start}}.
{pre_hook_args, [[{pool_size, 10}]]}.

{post_hook, {hook_pipesock, stop}}.

{driver,ranch_test_bench}.

{operations,[{ping, 1}]}.

{ranch_port, 7878}.
{ranch_ips, ['127.0.0.1']}.
