{driver,rubis_bench}.

{mode,max}.
{duration,2}.
{concurrent,50}.
{report_interval,5}.

{pre_hook, {hook_rubis, start}}.
{pre_hook_args, [[{conn_pool_size, 6},
                  {conection_opts, #{id_len => 16}},
                  {connection_port, 7878},
                  {rubis_props_path, "/Users/ryan/dev/imdea/code/lasp-bench/scripts/rubis_properties_small.config"}]]}.

{operations,
    {module,
        rubis_bench_table, [#{
            transition_table =>
                "/Users/ryan/dev/imdea/code/lasp-bench/scripts/cheng_rubis_tables/vasco_transitions_3.txt",

            transition_seed => {0,0,0},
            transition_limit => 1000000
        }]
    }}.


%% Should we retry until commit?
{retry_aborts, false}.

%% Retry on bad data (auth, etc)
{retry_on_bad_precondition, true}.
