{mode,max}.
{duration,5}.
{concurrent,20}.
{report_interval,5}.

%% Uniform distribution of 10 million keys
{key_generator, {int_to_bin_bigendian, {uniform_int, 10000000}}}.

%% Random binaries of 256 bytes each
{value_generator, {fixed_bin, 256}}.

{driver,lasp_bench_driver_rubis_simple_tcp}.

{operations,[
    {readonly,4},
    {readwrite,1}
]}.

%% The first number is the number of keys to read
%% The second the number of keys to update
{ratio, {1, 5}}.

{rubis_ip,'127.0.0.1'}.
{rubis_port,7878}.
