{mode,max}.
{duration,1}.
{concurrent,1}.
{report_interval,5}.

{driver,vclock_bench}.

{key_generator,{uniform_int, 500}}.

%% Can do lookup_{full,half,empty} | set_{full,half,empty} | max_{f,h,e,fg,fe,he}
{operations,[
    {lookup_full, 1}
    ,{lookup_half, 1}
    ,{lookup_empty, 1}
    ,{set_full, 1}
    ,{set_half, 1}
    ,{set_empty, 1}
    ,{max_f, 1}
    ,{max_h, 1}
    ,{max_e, 1}
    ,{max_fh, 1}
    ,{max_fe, 1}
    ,{max_he, 1}
]}.

%% The vclock implementation. Can be:
%% dict | orddict | list | map
{impl, dict}.

%% The number of partitions in a vector clock
{partitions, 64}.
